<label
  for="RegisterForm"
  class="justify-content-center align-items-center d-flex"
  style="font-size: xx-large"
  >Register your team</label
>
<div id="RegisterForm" class="container center">
  <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="teamName"> <strong>Team's Name</strong> </label>
      <input
        id="teamName"
        type="text"
        class="form-control"
        formControlName="teamName"
        placeholder="What's your team called?"
        required
      />
    </div>
    <span *ngIf="registerForm.controls.teamName.invalid" style="color: red">
      Please enter your team's name</span
    >
    <div class="form-group">
      <label for="dateCreated"> <strong>Date Created</strong> </label>
      <input
        id="dateCreated"
        type="date"
        class="form-control"
        formControlName="dateCreated"
        required
      />
    </div>
    <span *ngIf="registerForm.controls.dateCreated.invalid" style="color: red">
      Please pick a date
    </span>
    <div class="form-group">
      <label for="country"><strong> Country </strong></label>
      <input
        id="country"
        type="text"
        class="form-control"
        formControlName="country"
        placeholder="Where're you from?"
        required
      />
    </div>
    <span *ngIf="registerForm.controls.country.invalid" style="color: red">
      Please enter your team's country</span
    >
    <div class="form-group">
      <label for="imagePath"> <strong>Image</strong> </label>
      <input
        #file
        id="imagePath"
        type="file"
        accept="image/*"
        class="form-control image-url"
        formControlName="imagePath"
        (change)="readUrl($event)"
      />
      <img [src]="imagePath" />
    </div>
    <span *ngIf="registerForm.controls.imagePath.invalid" style="color: red">
      Please choose your team image</span
    >
    <br />
    <button
      [disabled]="!registerForm.valid"
      class="btn btn-success m-4 mb-3 ml-3 d-flex"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
